div.content-box(ng-controller="GalleryController")
  div.gallery-wrapper-data
    div.gallery-wrapper-box
      div.gallery-wrapper-title
        | Click next or previous
        br
        | for instant animation
      div.clear
      a.gallery-wrapper-btn(ui-sref="public.fix") Fix example
      a.gallery-wrapper-btn(href="https://github.com/Rademade/angular-cycle-gallery" target="_blank") View code example
  div.gallery-wrapper(
  cycle-gallery
  gallery-init="onGalleryInit"
  config-buffer="2"
  config-animation-time="250"
  gallery-index="baseIndex"
  ng-show="showGallery"
  )
    div.gallery-slider(cycle-gallery-holder)
      div.gallery-item(gallery-repeater="item in gallery" style="background-image: url({{item.sref}});")
        h1.gallery-item-text() {{item.text}}
        i.gallery-overflow

    button.action-button.next(gallery-button="next") next
    button.action-button.prev(gallery-button="prev") prev

  //div.control-panel()
  //  h3() Current index {{baseIndex}}
  //  button(ng-click="toggleGallery()") Toggl gallery
  //  button(ng-click="add()") Add item
